@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}
html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

section{
    padding: 3.9rem 0;
}
img{
    /* width: 100%; */
    max-width: 100%;
}
.image-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

a{
    text-decoration: none;
}
p {
    font-size: 2rem;
    line-height: 3.5rem;
}
.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
.logo{
    width: 150px;
    height: 100px;
    top: 0;
    content: "";
    margin-left: -75px;
    padding-top:3rem;
}

/* Header */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5),transparent);
}
.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-toggle{
    color: #ffffff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}
.fa-times{
    display: none;
}
.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}
.nav::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.open .fa-times{
    display: block;
}
.open .fa-bars{
    display: none;
}
.open .nav-list{
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}
.nav-item {
    border-bottom: 2px solid rgba(255,255,255,.3);
}
.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}
.nav-link:hover{
    color: var(--secondary-font-color);
}

/* Hero */
.hero {
    width: 100%;
    height: 100vh;
    background: url(../images/banner-main.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}
.sub-headLine{
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    margin-right: 2px;
}
.first-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
}
.headLine{
    color: #fff;
    font-size: 2rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    animation: scale .5s forwards;
}
.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}
.line-right::before,
.line-left::before
{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-right::before{
    border-right-color: #fff;
    right: 0;
}
.line-left::before{
    border-left-color: #fff;
    left: 0;
}
.asterisk{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}

.single-animation{
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headLine-description h5{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}
.cta-btn{
    font-size: 1.1rem;
    background-color: #121212;
    padding: 1.3rem 1.9rem;
    color: #fff;
    border-radius: .6rem;
    transition: background-color .5s;
}
.cta-btn:hover,
.cta-btn:focus{
    color: #fff;
    background-color: var(--secondary-font-color);
}

/* ourServices */
.global-headLine{
    text-align: center;
    margin-top: 3.9rem;
}
.discover-our-story .global-headLine{
    margin-top: 6.9rem;
}
.global-headLine .asterisk{
    color: var(--body-font-color);
    margin: 2.4rem 0;
}
.headLine-dark{
    color: var(--main-font-color-dark);
    letter-spacing: .7rem;
    margin-right: -.7rem;
}
.global-headLine .sub-headLine{
    letter-spacing: -.1px;
    line-height: .42;
}
.services-info{
    text-align: center;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 6em;
}

    .feature:last-child {
        margin-bottom: 2em;
    }

    .feature.left {
        flex-direction: row;
    }

    .feature.right {
        flex-direction: row-reverse;
    }

    .feature .image {
        width: 48%;
    }

        .feature .image img {
            max-width: 100%;
        }

    .feature .content {
        padding: 2em 3em 0.1em 3em;
        width: 52%;
    }

.feature {
    background-color: rgba(144, 144, 144, 0.075);
}

.content h2{
     margin: 0 0 1em 0;
     font-size: 3rem;
}
.content .btn{
    margin: 2rem;
   
}


/* cards */
.cards-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.text{
    grid-column: 1 / 1;
    grid-row: 1;
    color: #fff;
}
.cards{
    background-color: #121212;
    grid-column: 2 / 4;
     grid-row: 1 / 3;
     display: flex;
    align-items: center;
    justify-content: center;
}


.card {
	box-shadow: 2px 8px 14px 0px hsla(229, 6%, 66%, 0.6);
	border-radius: 8px;
	padding: 30px;
	margin: 2rem 0;
	max-width: 500px;
}
.card.aqua {
	border-top: 5px solid hsl(34, 97%, 64%);
	margin: 0;
}
.card.red {
	border-top: 5px solid hsl(34, 97%, 64%);
}
.card.orange {
	border-top: 5px solid hsl(34, 97%, 64%);
}
.card.blue {
	border-top: 5px solid hsl(34, 97%, 64%);
	margin: 0;
}

.card img {
	display: block;
	margin-left: auto;
	margin-top: 30px;
}
.card h2 {
	color: var(--secondary-font-color);
	font-size: 2rem;
}
.card p {
	font-size: 1.5rem;
	color:#fff;
}

@media only screen and (min-width: 1200px) {

	.cards {
		flex-direction: row;
	}
	.card {
		margin: 2rem;
    }
    
    
}
@media only screen and (max-width: 900px) {
    .text {
        grid-column: 1 / -1;
        grid-row: 1;
        text-align: center;
        margin-bottom: 5rem;
        font-size: 2.5rem;
        letter-spacing: .8rem;
       
    }
    .cards{
        grid-column: 1 / -1;
        grid-row: 2;
        flex-direction: column;
    }
    
   
}

/* Footer */
footer{
    padding-top: 7.9rem;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}
.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;

}
.back-to-top i{
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite;
}
.footer-content{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}
.footer-content .asterisk{
    margin: 2.4rem 0;
}
.footer-content-about{
    margin-bottom: 5.4rem;
}
.footer-content-about p{
    line-height: 2;
}
.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}
.social-icons i {
    font-size: 2rem;
    color: #fff;
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
}
.social-icons i:hover,
.social-icons i:focus{
    color: var(--secondary-font-color);
}
.newsletter-form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.newsletter-input{
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}
.newsletter-btn{
    background-color: transparent;
    border: none;
    color: var(--main-font-color-dark);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10.5rem;
}

/* Nosotros page */
.nosotros_banner{
    background: url("../images/banner.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.between{
    min-height: 65vh;
    display: flex;
    align-items: center;
}
.nosotros_banner p{
    color: #fff;
}
.nosotros_banner .global-headLine{
    position: relative;
}
.nosotros_banner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #928dab, #1f1c2c 70%);
    opacity: 0.8;
}

/* servicios */
.facturacion_banner{
    background: url("../images/banner2.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.facturacion_banner p{
    color: #fff;
}
.facturacion_banner .global-headLine{
    position: relative;
}
.facturacion_banner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #928dab, #1f1c2c 70%);
    opacity: 0.8;
}
.titulo{
    margin-bottom: 10rem;
}

.first-tittle{
    color: var(--main-font-color-dark);
    font-size: 3rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
}
 .description{
    font-size: 2.5rem;
}
.servicios_photos{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
}
.left-photo{
    grid-column: 1 / 3 ;
    grid-row: 1;
}
.right-photo{
    grid-column: 3 / 5;
    grid-row: 1;
}

/* servicios styles */
.servicios{
    background: url("../images/banner3.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.servicios p{
    color: #fff;
}
.servicios .global-headLine{
    position: relative;
}
.servicios:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #928dab, #1f1c2c 70%);
    opacity: 0.8;
}
.servicios_info > div > div {
    font-size: 2.5rem;
    margin-bottom: 5rem;
}
.servicios_info li{
    list-style: none;
    line-height: 2;
}
.servicios_info h3{
    font-size: 2.8rem;
    color:var(--main-font-color-dark);
}

/* contactanos  */
.contact_banner{
    background: url("../images/banner4.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.contact_banner p{
    color: #fff;
}
.contact_banner .global-headLine{
    position: relative;
}
.contact_banner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #928dab, #1f1c2c 70%);
    opacity: 0.8;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
    width: 100%;
    cursor: pointer;
}
.elements_form {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(1, 1fr);
}
.left_element {
    grid-column: 1 / 1;
    grid-row: 1;
}
.right_element {
    grid-column: 3 / 8;
    grid-row: 1;
}

/* Media Queries */
@media screen and (min-width: 900px){
    section{
        padding: 7.9rem;
    }
    .menu-toggle{
        display: none;
    }
    .nav{
        justify-content: space-between;
    }
    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-item{
        margin: 0 2.4rem;
        border: none;
    }
    .nav-item:last-child{
        margin-right: 0;
    }
    .nav-link{
        font-size: 1.5rem;
    }
    .active{
        position: relative;
    }
    .active::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    .sub-headLine{
        font-size: 10rem;
    }
    .first-letter{
        font-size: 12.2rem;
    }
    .headLine{
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }
    .line{
        max-width: 11.4rem;
    }
    .service-info{
        display: flex;
        align-items: center;
    }
    .service-info > div{
        flex: 1;
    }
    .padding-right{
        padding-right: 7rem;
    }
    .footer-content{
        max-width: 77.5rem;
        margin: auto;

    }
    .footer-content-about{
        max-width: 54.3rem;
        margin: 0 auto 5.4rem;
        padding-right: 2rem;
    }
    .footer-content-divider{
        display: flex;
        justify-content: space-between;
    }
    .social-media,
    .newsletter-form{
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }
    .social-icons i{
        opacity: 1;
    }
    .newsletter-btn{
        margin-left: 7.5rem;
    }
}
    @media screen and (max-width: 1280px) {

        .feature {
            margin-bottom: 4em;
        }

            .feature .content {
                padding: 1em 2em 0.1em 2em;
            }

    }

    @media screen and (max-width: 1024px) {

        .feature.left, .feature.right {
            flex-direction: column;
        }

        .feature .image {
            width: 100%;
        }

            .feature .image img {
                width: 100%;
            }

        .feature .content {
            padding: 2em 2em 0.1em 2em;
            width: 100%;
        }
        .form input,textarea,button{
            width: 65vw;
        }
        .elements_form{
            grid-template-rows: repeat(2,1fr);
        }
        .elements_form .left_element{
            grid-row: 1;
            grid-column: 1/1;
        }
        .elements_form .right_element{
            grid-column: 1/1;
            grid-row: 2;
            padding-left: 2rem;
        }

    }

    @media screen and (max-width: 736px) {

        .feature {
            margin-bottom: 2em;
        }

        .feature .content {
             padding: 2em 1em 0.1em 1em;
        }
        .servicios-description .description,
        .about .description, .conocenos .description,.servicios_info li
        {
            font-size: 2rem;
        }
        .servicios_photos{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
            grid-auto-rows: minmax(300px, auto);
            margin-top: 10rem;
        }
       
         .servicios_photos .left-photo{
            grid-column: 1 / 5;
            grid-row: 1 / 3;
        }
        .servicios_photos .right-photo{
            grid-column: 1 / 5;
            grid-row: 4 / 6;
        }
    }

/* Animaciones */
@keyframes scale {
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow {
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;;
    }
}

@keyframes fadeDown {
    0%{
        transform: translateY(-1rem)
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}

@keyframes up {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}